<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>編集画面</title>
</head>
<body>
    <form th:action="@{/user/update}" method="post" th:object="${user}">
        <table>
            <tr>
                <th>姓</th>
                <td><input type="text" name="lastName" th:field="*{lastName}" value="田中"/></td>
            </tr>
            <tr>
                <th>名</th>
                <td><input type="text" name="firstName" th:field="*{firstName}" value="太郎"/></td>
            </tr>
            <tr>
                <th>性別</th>
                <td>
                    <select name="sex" id="sex">
                        <option value="0" th:selected="*{sex == '0'}">男性</option>
                        <option value="1" th:selected="*{sex == '1'}">女性</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><input type="email" name="mailAddress" th:field="*{mailAddress}" value="test@mail.com"/></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="更新" />
                    <input type="reset" value="リセット" />
                </td>
            </tr>
            <input type="hidden" name="id" th:field="*{id}" />
        </table>
    </form>
</body>
</html>
